.form{
  width: 450px;
  padding: 30px;
  border:  1px solid  #fff;
  display: flex;
  flex-direction: column;
  gap: 5px;
  background: #fff;
  border-radius: 20px;
  box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.6);
}

.formField {
  padding: 10px 40px;
  border: none;
  width: 200px;
  display: flex;
  flex-direction: column;
}
.formLabel {
  font-size: 20px;
  font-weight: 500;

}
.formButton {
  margin-left: 70px;
  width: 300px;
  background: white;
  border:2px solid #fff;
  box-shadow: 2px 2px 4px aqua;
  padding: 10px;
  border-radius: 4px;
  font-size: 16px;
  font-weight: 600;
}
.formButton:hover {
  margin-left: 70px;
  border: 2px solid #fff;
  width: 300px;
  color: black;
  background: aqua;
  box-shadow: 2px 2px 4px aqua;
  padding: 10px;
  border-radius: 4px;
}
.contactFormInput {
  outline: none;
  color: black;
  width: 350px;
  font-size: 18px;
  font-weight: 600;
  border-radius: 5px;
  border:1px solid aqua;
  padding: 10px 20px;
  box-shadow: 2px 2px 4px aqua;
}

.contactFormInput:hover {
  outline: none;
  color: black;
  background-color: rgb(220, 231, 232);
  width: 350px;
  font-size: 18px;
  font-weight: 600;
  border-radius: 5px;
  border: 1px solid #ffff;    
  padding: 10px 20px;
  box-shadow: 2px 2px 4px gray;
}